    @import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');
    @media all and (max-width: 768px) {

    .menubar {
      width: 768px;
      height: 40px;
    }

    .logo {
      width: 58px;
      height: 16px;
    }

    p {
      margin-top: 16px;
      font-size: 14px;
      line-height: 26px;
    }

    h2 {
      font-size: 30px;
      line-height: 36px;
      font-weight: bold;
    }

    .Landing {
      height: 4000px;
    }

    .section {

      height: 1000px;
    }

    .green {
      top: 230px;
      width: 25px;
      height: 3px;
    }

    .textOne {
      top: 150px;
      width: 300px;
      left: 125px;
    }

    .textTwo {
      top: 100px;
      width: 300px;
      right: 100px;
    }

    .picOne {
      top: 500px;
      left: 50%;
      transform: translateX(-50%);
    }

    .flex {
      width: 105%;
    }

    #mockup3 {
      height:500px;
      width: 140px;
      margin-top: 450px;
      margin-right: 40px;
    }

    #mockup4 {
      height: 500px;
      width: 140px;
      margin-top: 450px;
      margin-right: 40px;
    }

    #mockup5 {
      height: 500px;
      width: 140px;
      margin-top: 450px;
      margin-right: 40px;
    }


    .picThree {
      top: 520px;
      left: 100px;
      width: 800px;
      height: 630px;
    }

    .buttom {
      height: 34px;
      width: 214px;
      line-height: 32px;
      font-size: 12px;
    }

    .big {
      font-size: 14px;
    }

    .small {
      width: 780px;
      height: 18px;
      font-size: 12px;
      line-height: 36px;
    }

  }
